.container{
    font-family: 'Raleway'!important;
    background-color: #ffffff;
    color: #333333;
    min-height: 100vh;
    max-height: 1000px;
}
.row{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 40px auto;
    max-height: 1000px;
}
.title{
    font-size: 42px;
    padding: 50px 0 30px;
    text-align: center;
    letter-spacing: 0.15em;
}
.imagebox{
    position: relative;
    text-align: center;
}
.image{
    margin: 0 auto;
}
.text_title{
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.05em;
}
.detail{
    margin: 40px auto;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.7;

}